{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{%- block actions -%}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
    <li>
        <a href="{{ path('admin_main_equipment_equipment-filling') }}" class="sonata-action-element" title="{{ 'equipment_filling'|trans() }}">
            <i class="glyphicon glyphicon-align-justify">  {{ 'equipment_filling'|trans() }}</i>
        </a>
    </li>
{%- endblock -%}