{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
    <a href="{{ admin.generateObjectUrl('equipment-report', object) }}" class="btn btn-sm btn-default view_link" title="{{ 'report_create'|trans() }}">
        <i class="glyphicon glyphicon-asterisk">Report</i>
    </a>
{% endif %}