{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
        <ul>
            {% for file in value %}
                <li>
                    <a href="{{ file.downloadLink }}" target="_blank">
                        {% if file.getType() == 'jpg' or file.getType() == 'jpeg'
                        or file.getType() == 'png' or file.getType() == 'gif' %}
                            <img src="{{ file.imagePath }}" width="100px" height="100px"/>
                        {% else %}
                            {{ file.getFileOriginalName() }}
                        {% endif %}
                    </a>
                </li>
                <br />
            {% endfor %}
        </ul>
{% endblock %}

