{% block fms_eq_defects_widget %}

    <ul class="defects" data-prototype="{{ _self.multiple_prototype(form.vars.prototype)|e }}">
        {% set count = 0 %}
        {% for child in form %}
            {% if child.vars.value is not null and child.vars.value.description is not null %}
                {% set url = '/admin/main/removedefects/'~child.vars.value.id~'/edit' %}
                <li class="length">
                    <a href="{{ url }}" target="_blank">
                       {{ child.vars.value.description }}
                    </a>
                </li>
         {% endif %}

            {% set count = count + 1 %}

        {% endfor %}
    </ul>

{% endblock %}

{% macro multiple_prototype(form) %}
    {{ form_widget(form.description) }}
{% endmacro %}
