{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

  {% set currentPath = app.request.attributes.get('_route') %}
  {% set confirm = true %}

  {% if currentPath == 'admin_main_division_list' %}
        {% if object.post|length > 0 %}
           {% set confirm = false %}
        {% endif %}
  {% endif %}

    {% if currentPath == 'admin_main_post_list' %}
        {% if object.personnel|length > 0 %}
            {% set confirm = false %}
        {% endif %}
    {% endif %}

{% if admin.isGranted('DELETE', object) and admin.hasRoute('delete') and confirm %}
    <a href="{{ admin.generateObjectUrl('delete', object) }}" class="btn btn-sm btn-default delete_link" title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}">
        <i class="fa fa-times" aria-hidden="true"></i>
        {#{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}#}
    </a>
{% endif %}
