{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{%- block field %}

    {% if value|length > 0 %}
        {% set file = value.first %}
            <a href="{{ file.imagePath }}" target="_blank">
                {% if file.getType() == 'jpg' or file.getType() == 'jpeg'
                or file.getType() == 'png' or file.getType() == 'gif' %}
                    {% set imagePath = file.imagePath %}
                {% else %}
                    {% set imagePath = asset('bundles/main/images/file-icon.jpg') %}
                {% endif %}
                <img src="{{ imagePath|imagine_filter('list_images') }}" width="100px" height="100px"/>
            </a>
    {% endif %}

{% endblock -%}




