{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{%- block actions -%}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
    <li>
        <a href="{{ path('admin_main_professions_job-days') }}" class="sonata-action-element" title="{{ 'job_days'|trans() }}">
            <i class="glyphicon glyphicon-align-justify"> {{ 'job_days'|trans() }}</i>
        </a>
    </li>
{%- endblock -%}

