{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{%- block field %}
    {% if value %}
        <a href="{{ object.downloadLink }}" target="_blank">
            <img src="{{ value }}" height="100px"/>
        </a>
    {% endif %}
{% endblock -%}