{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% set price = 0 %}

 {% block table_body %}
     <tbody>
     {% for object in admin.datagrid.results %}

         {% set routeCardPrice = object.sum %}

         {% set price = price + routeCardPrice %}

         <tr>
             {% include admin.getTemplate('inner_list_row') %}
         </tr>
     {% endfor %}

     <tr>
         <td colspan="11">
             {{ "Ընդամենը" }}
         </td>
         <td colspan="1">
             {{ price ~ " դր․" }}
         </td>
     </tr>

     </tbody>

 {% endblock %}