{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{%- block field %}
    {% if value %}
    {% set url = '/admin/main/productrawexpense/list?productId='~object.id %}
    <a href="{{ url }}" target="_blank">{{ value ~ ' դր'}}</a>
    {% endif %}
{% endblock -%}




