{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{%- block field %}

    {% if object.id %}
        {% set repairJob = object.getToolsRepairJob() %}

        {% if repairJob|length > 0 %}
            {% set url = '/admin/tools_repair_job/list?toolId=' ~ object.id %}

            <a href="{{ url }}" title="{{ 'history'|trans() }}" target="_blank">
                {{ 'history'|trans() }}
            </a>
        {% endif %}
    {% endif %}
{% endblock -%}




