{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <ul>
        {% for name in value %}
            <li>
                {{ name.subject }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

